# Data Management & Analysis

## How convincing was our Musk tweet generator?

### Spreadsheet analysis

First analysis: Google Sheets (link available after the lecture)

### Pandas analysis

Can we get the data with Pandas?

In [5]:
import pandas as pd

experiment = pd.read_csv('experiment_results.csv')

In [10]:
(experiment.result == 'Correct').sum()

1610

Can we figure out the percentage of correct responses?

In [12]:
(experiment.result == 'Correct').sum() / experiment.result.count()

0.6353591160220995

Can we group the results by user?

In [28]:
experiment_clean = experiment[['user']]
experiment_clean['result'] = experiment.result == 'Correct'
grouped = experiment_clean.groupby('user').aggregate(['sum', 'count'])

<ipython-input-28-a74ad32a8b3d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  experiment_clean['result'] = experiment.result == 'Correct'

How good are each of the users at distinguishing real tweets from fake tweets?

In [33]:
grouped.result['sum'] / grouped.result['count']

user
520921286       0.818182
29032779070     0.619048
33916707360     0.727273
35364959503     0.739130
56653323782     0.750000
                  ...
973368900668    0.625000
984564674504    0.521739
986667915486    0.666667
992543712488    0.375000
996835320480    0.786885
Length: 152, dtype: float64

What percentage of users did better than a coin flip?

In [35]:
!pip3 install scipy

Defaulting to user installation because normal site-packages is not writeable
Collecting scipy
  Downloading scipy-1.6.2-cp39-cp39-macosx_10_9_x86_64.whl (30.9 MB)
     |████████████████████████████████| 30.9 MB 9.9 MB/s
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /Users/cs1010/Library/Python/3.9/lib/python/site-packages (from scipy) (1.20.1)
Installing collected packages: scipy
Successfully installed scipy-1.6.2

In [38]:
from scipy.stats import binom

grouped['proficiency'] = binom.pmf(grouped.result['sum'], grouped.result['count'], 0.5)

grouped

             result       proficiency
                sum count
user
520921286        27    33    0.000129
29032779070      13    21    0.097032
33916707360       8    11    0.080566
35364959503      17    23    0.012034
56653323782       9    12    0.053711
...             ...   ...         ...
973368900668     10    16    0.122192
984564674504     12    23    0.161180
986667915486      4     6    0.234375
992543712488      3     8    0.218750
996835320480     48    61    0.000003

[152 rows x 3 columns]