# Numbers

Python has two main types of numbers:

* `int` is short for integer and is used for whole numbers that are either positive or negative (e.g. `0`, `1`, `42`, `-8`, etc.)
* `float` is short for floating point and can be used to *approximate* all numbers (e.g. `0.7`, `4.2`, `3.14195...`)

Use `type(...)` to determine the type of value.

For example,

Or for a variable

By adding `.0` at the end of the number we can tell python we want it to be floating point.

Because they are only an approximation, floating point numbers can do funny things. For example:

Can you round floating point numbers to integers?

# Strings

Important info:
* Strings are a series of characters
* They can be used anywhere text is required (e.g. names, addresses, descriptions, etc.)
* Like with numbers, Python provides lots of operations you can do on strings

Can we add a string to a string?

Can we add a number to a string?

Can we store strings in variables?

Can we multiply a string by a number?

Can we multiply a string by a string?

Does `type(...)` work on strings?

Can we extract individual characters?

## What is wrong with programmers?

<img width="40%" src="https://i.imgur.com/NSxLS8D.png" />

Important info:

* Programmers start counting from 0 for a complex variety of reasons
* This is a common source of errors for new programmers

# Back to strings

Can we extract parts of strings?

Can we get the length of a string?

Can we count the number of e's in a string?

Can we replace the e's with a's?

Can we create a string with multiple lines?

# Special Characters

Strings can contain special characters that either can't be visualised or can't be typed on most keyboards.

These include:
* The "newline" character.
  * Indicates that any characters after it should go on a new line.
  * Written as "\n"
* Characters from alphabets other than the "latin" alphabet.
* Emoji!
  * Written as "\N{name of the emoji}"
  * You can look up names [here](https://emojipedia.org)

Can we create a string with this box in it?

```
+-----+
|     |
|     |
|     |
+-----+
```

Can we describe 2020 with Emoji?

# Aside: Emoji

The history (and present) of emoji is strange and deeply fascinating.

<img src="https://media.wired.com/photos/5926a875cefba457b079abb6/master/w_1600%2Cc_limit/emoji_grid_gray.jpg">
<small>The first emoji</small>

Further reading [here](https://www.wired.com/story/guide-emoji/)

# Repeating ourselves

Can we create this box?

```
+---+
|   |
|   |
|   |
|   |
|   |
+---+
```

What about this box?

```
+----------+
|          |
|          |
|          |
|          |
|          |
+----------+
```

Lots of boxes of different sizes?

# Functions

We use functions to avoid repeating code.
* The parts that should always stay the same are the *body* of the function.
* The parts that change are the *arguments*.
* To indicate what value is returned from the function, we use `return`

# Data

<center><img width="500" src="https://source.unsplash.com/KgLtFCgfC28" /></center>

The word data is used in many contexts with variations in meaning.

In this course we will define data as the way in which information is represented.

## Different ways of representing things

* "Robert Clifton-Everest" vs "Clifton-Everest, Robert"
* 7 in decimal vs 111 in binary
* MLA vs APA vs Chicago citation styles

## Binary

Computers work in binary (0 or 1). To compute with any sort of data we need a way to represent it in binary.

We can represent almost anything in terms of numbers, so as long as we can represent a number in binary, we're good.

<img src="https://www.onlinemathlearning.com/image-files/binary-to-decimal.png" />

10011100101 is a binary number, can python tell us what it is in decimal?

Can we use python to find 10 in binary?

## Strings

Every character *can* be represented as a number so therefore all characters can be represented in binary

 * The first attempt at this: [ASCII](https://en.wikipedia.org/wiki/ASCII)
 * More recently: [Unicode](https://home.unicode.org/)

# Lists

Lists are an *ordered data structure*.

Can we create a list with the names of the course staff?

What is the tutor at index 0?

Can we replace a Rob?

Can we check if Sim is in the list?

# Booleans

Python supports *boolean* values to indicate whether something is true or false. They have type `bool`. Like with numbers and strings, Python lets us do various operations on them.


* `and` checks whether two boolean values are both `true`
* `or` checks whether either boolean values are `true`
* `not` turns `true` into `false` and `false` into `true`

Boolean values can be created by various means. For example:
* `x == y` is `true` if `x` is equal to `y`
* `x > y` is `true` if `x` is greater than `y`
* `x in y` is `true` if `x` is in the data structure `y`

Are Rob *and* Kai both course staff?

Are Sim *or* Bill course staff?

# A bigger example

This code cell creates a list from some of Elon Musk's tweets. 

*You're not expected to completely understand this code yet. It's only here to give us interesting data*.

In [ ]:
import pandas

raw_tweets = pandas.read_csv('https://raw.githubusercontent.com/robeverest/cs1010/master/data/elonmusk.csv')
elon_tweets = list(raw_tweets[raw_tweets.retweet == False].tweet)

How many tweets are in this data set?

What tweet is at index 3750?

What is the total number of characters Elon has ever tweeted?

# Loops

Loops allow us to execute code repeatedly. The most common form of loop in Python is the `for ... in ...` loop which lets you execute some code for every element inside a data structure.

**Important info**:

* The *body* of the loop needs to be *indented* so that Python knows what is in the loop and what isn't.
* Don't forget the colon at the end of the first line!