# Week 4 Lab (3 marks)

**IMPORTANT NOTE** If you're using Colaboratory, make sure you save a copy of these exercises to Google drive by clicking 'Copy to Drive' at the top of the page. Otherwise, your answers will not be saved.

To get the marks for these tasks, you need to show your solutions to you lab demonstrater in either your week 4 or week 5 lab.

## Dictionaries (1 mark)

Write functions in the cells provided to answer the following questions.

### Dictionary Access

Write a function, `young_john(people)`, that returns `True` if the dictionary `people` contains the key `"John"` with a value of `19`. It should return `False` otherwise.

In [1]:
def young_john(people):
    return "John" in people and people["John"] == 19

Use this cell to test if your function works.

In [2]:
assert young_john({ "Rob": 31, "Sarah": 24, "Chen": 20, "John": 19})
assert not young_john({ "Rob": 31, "Sarah": 19, "Chen": 20, "James": 22})
assert not young_john({ "Rob": 31, "Sarah": 24, "Chen": 20, "John": 23})

### Generalised card game

Consider a game where certain cards are worth a certain number of points. Write a function, `score(card_points, cards)`, that takes in a dictionary representing the points for each card and a list of strings and calculates the total score for that list. You can assume that if a card is not in `card_points`, it is not worth any points. Examples of how the function is used are in the testing cell below.

In [6]:
def score(card_points, cards):
    total_score = 0
    for card in cards:
        if card in card_points:
            total_score += card_points[card]
    return total_score

Use the cell below to test if your function works.

In [7]:
assert score({"Ace": 5, "King": 3, "Queen": 2, "Jack": 1 },
             ["10", "Jack", "Ace", "King", "Queen", "King", "3"]) == 14
assert score({"Fire": 2, "Wind": 1, "Water": 1, "Earth": 3 },
             ["Fire", "Fire", "Wind", "Water", "Earth"]) == 9

## Nested Structures (1 mark)

The following dictionary contains some courses and the list of tutorials for each of them.

In [8]:
first_year_courses = { "COMP1010": ["T15A", "T17A", "T18A"], "FINS1612": ["M11A", "W12A"], "FINS1613": ["T12A", "T12B", "F09A"], "ACCT1501": ["T10A", "F15A"] }

What is the first tutorial for COMP1010?

In [9]:
first_year_courses["COMP1010"][0]

'T15A'

Construct a list containing all the courses that have exactly 3 tutorials. You should get this as a result:
```
["COMP1010", "FINS1613"]

In [10]:
three_tutorial_courses = []

for course in first_year_courses:
    if len(first_year_courses[course]) == 3:
        three_tutorial_courses.append(course)

three_tutorial_courses

['COMP1010', 'FINS1613']

Construct a list containing all the courses with a tutorial on a Tuesday (i.e. the tutorial code starts with a 'T'). You should get this as a result:
```
["COMP1010", "FINS1613", "ACCT1501"]
```

**Hint**: Depending on how you approach this, you may need a nested loop.

In [11]:
tuesday_courses = []

for course in first_year_courses:
    tuesday_tute = False
    for tute in first_year_courses[course]:
        if tute[0] == 'T':
            tuesday_tute = True
    if tuesday_tute:
        tuesday_courses.append(course)

tuesday_courses

['COMP1010', 'FINS1613', 'ACCT1501']

## While loops (1 mark)

Write a function, `odd_sum_while(n)` that computes all the positive *odd* numbers less than `n` with a `while` loop.

*Note*: You could do this with a `for` loop, but you should do it with a `while` loop for practice.

In [17]:
def odd_sum_while(n):
    i = 1
    result = 0
    while i < n:
        result += i
        i += 2
    return result

def odd_sum_while_down(n):
    result = 0
    if n % 2 == 0:
        n = n - 1
    else:
        n = n - 2
    while n >= 1:
        result += n
        n -= 2
    return result

25

In [ ]:
def odd_sum_rec(n):
    if n == 1:
        return 1
    elif n % 2 == 0:
        return (n-1) + odd_sum_rec(n - 2)
    else:
        return odd_sum_rec(n - 1)

Use this cell to test whether you have implemented the function correctly.

In [18]:
assert odd_sum_while(10) == 25

## Challenge

**NOTE:** This question is **NOT** worth any marks and is meant to present a significant challenge. It's here for those who wish to extend themselves. Even if you're not able to solve it, you may find giving it a try good practice and you can always come back to it in later weeks.

The following cell constructs the map of "Romania" as a dictionary of dictioanries.

In [ ]:
romania = {
    'Arad': { 'Zerind': 75, 'Sibiu': 140, 'Timisoara': 118 },
    'Zerind': { 'Arad': 75, 'Oradea': 71 },
    'Sibiu': { 'Arad': 140, 'Oradea': 151, 'Fagaras': 99, 'Rimnicu Vilcea': 80 },
    'Timisoara': { 'Arad': 118, 'Lugoj': 111 },
    'Oradea': { 'Zerind': 71, 'Sibiu': 151 },
    'Lugoj': { 'Timisoara': 111, 'Mehadia': 70 },
    'Fagaras': { 'Sibiu': 99, 'Bucharest': 211 },
    'Rimnicu Vilcea': { 'Sibiu': 80, 'Pitesti': 97, 'Craiova': 146 },
    'Mehadia': { 'Lugoj': 70, 'Dobreta': 75 },
    'Bucharest': { 'Fagaras': 211, 'Pitesti': 101, 'Urziceni': 85, 'Giurglu': 90 },
    'Pitesti': { 'Rimnicu Vilcea': 97, 'Bucharest': 101, 'Craiova': 138 },
    'Craiova': { 'Rimnicu Vilcea': 146, 'Pitesti': 138, 'Dobreta': 120 },
    'Dobreta': { 'Mehadia': 75, 'Craiova': 120 },
    'Urziceni': { 'Bucharest': 85, 'Hirsova': 98, 'Vaslui': 142 },
    'Giurglu': { 'Bucharest': 90 },
    'Hirsova': { 'Urziceni': 98, 'Eforie': 86 },
    'Vaslui': { 'Urziceni': 142, 'Lasi': 92 },
    'Eforie': { 'Hirsova': 86 },
    'Lasi': { 'Vaslui': 92, 'Neamt': 87 },
    'Neamt': { 'Lasi': 87 }
}

Write a function, `nearby(city)`, that returns a list containing all the cities within a 300 mile trip of the the given city, assuming you can only travel along the roads given.