# Databases

Databases are organised collections of *structured* information. A Database Management System (DBMS) acts as an interface between clients and the stored data, facilitating efficient querying of the data.

## Simple Query Language (SQL)

SQL is the most widely used language for performing database queries. Many different DBMS's support SQL, including PostgreSQL, SQL Server, MySQL and SQLite.

Because it comes bundled with Python, we will be using SQLite.

[A convenient SQL reference](https://www.w3schools.com/sql/sql_quickref.asp).

### SQLite

Can we create a table in a SQLlite database to store the course tutorials?

In [ ]:
import sqlite3

db = sqlite3.connect('tutorials.db')

In [ ]:
cursor = db.cursor()

cursor.execute("CREATE TABLE tutorials (code CHAR(4) PRIMARY KEY, tutor TEXT, enrollments INTEGER)")

In [ ]:
cursor.execute("INSERT INTO tutorials VALUES ('T15A', 'Amy', 20)")

In [ ]:
db.commit()

In [ ]:
cursor.execute("INSERT INTO tutorials VALUES ('T17A', 'Michelle', 13)")
cursor.execute("INSERT INTO tutorials VALUES ('T18A', 'Rob', 10)")

In [ ]:
cursor.execute("DROP TABLE tutorials")

Can we retrieve all the tutorials from the database?

Can we retrieve a specific tutorial?

Can we add some sample students to the database?