# Week 5 Lab (4 marks)

**IMPORTANT NOTE** The first 3 sets of exercises for this lab *can* be done in Colaboratory, but the last exercise requires you to implement a web server, so you will need to have Python running on your own computer for at least that exercise.

To get the marks for these tasks, you need to show your solutions to you lab demonstrater in either your week 5, 7, or 8 lab.

## Complex Data Structures (1 mark)

This data structure contains a series of courses. For each course, there are a list of its tutorials and its enrolments.

In [ ]:
unsw_courses = { 
    "COMP1010": { 
        "name": "Art of Computing", 
        "tutorials": [ 
            { "code": "T15A", "room": "Quad 1041" },
            { "code": "T17A", "room": "ASB 111" },
            { "code": "T18A", "room": "Goldstein G03" }
        ],
        "enrollments": [
            { "zid": "z1234567", "tutorial": "T15A" },
            { "zid": "z7654321", "tutorial": "T17A" },
            { "zid": "z1357246", "tutorial": "T15A" },
            { "zid": "z2461357", "tutorial": "T18A" }
        ]
    },
    "FINS1613": { 
        "name": "Business Finance", 
        "tutorials": [ 
            { "code": "M12A", "room": "ASB 302" },
            { "code": "H16B", "room": "J17 G12" }
        ],
        "enrollments": [
            { "zid": "z7654321", "tutorial": "M12A" },
            { "zid": "z1234567", "tutorial": "M12A" },
            { "zid": "z1357246", "tutorial": "H16B" }
        ]
    },
    "FINS1612": { 
        "name": "Capital Markets & Institution", 
        "tutorials": [ 
            { "code": "T11A", "room": "ASB 111" },
            { "code": "F11A", "room": "J17 G12" },
            { "code": "M09A", "room": "Goldstein G03" }
        ],
        "enrollments": [
            { "zid": "z1357246", "tutorial": "M09A" },
            { "zid": "z7654321", "tutorial": "T11A" },
            { "zid": "z1234567", "tutorial": "F11A" },
            { "zid": "z2461357", "tutorial": "F11A" }
        ]
    }
}

Write a function `timetable(zid)` that, given a student number returns the timetable of the student in the format shown in the test cell below.

**NOTE**: Your function should still work if new courses, tutorials or enrolments were added to the above data structure-- i.e. you shouldn't have any specific course or tutorial codes hardcoded in your solution.

Use this cell to test if your function is correct.

In [ ]:
assert timetable('z1234567') == { 
    "COMP1010": { "time": "T15A", "room": "Quad 1041" },
    "FINS1613": { "time": "M12A", "room": "ASB 302" },
    "FINS1612": { "time": "F11A", "room": "J17 G12" }
}
assert timetable('z2461357') == { 
    "COMP1010": { "time": "T18A", "room": "Goldstein G03" },
    "FINS1612": { "time": "F11A", "room": "J17 G12" }
}

## More loops  (1 mark)

Given a list of numbers, you can compute a new list containing the *difference* between each element and its subsequent element. For example, given `[1, 2, 5, 3]`, the *difference* list would be `[1, 3, -2]`. Naturally, the new list has one less element than the original list.

Write a function `difference(numbers)` that computes the difference list for the argument `numbers`.

Use this cell to test your function.

In [ ]:
assert difference([1, 2, 5, 3]) == [1, 3, -2]
assert difference([3, 2, 567, 2, 45, 3, 7, 5]) == [-1, 565, -565, 43, -42, 4, -2]

Write another function, `final_difference(numbers)` that repeatedly applies `difference(numbers)` until only 1 number remains. That number is then returned.

Use this cell to test your function.

In [ ]:
assert final_difference([1, 2, 5, 3]) == -7
assert final_difference([3, 2, 567, 2, 45, 3, 7, 5]) == -13382

## Program Composition (1 mark)

### Majority Vote
Create a function, `majority(votes)`, that returns the majority vote in a list. A majority vote is an element that occurs $> \frac{n}{2}$ times in a list (where $n$ is the length of the list). If there is no majority vote, the function should return `None`.

Use this cell to test your function.

In [ ]:
assert majority(["A", "A", "B"]) == "A"
assert majority(["pizza", "pizza", "pizza", "burger", "burrito", "pizza"]) == "pizza"
assert majority(["koala", "kangaroo", "kangaroo", "koala", "wombat", "wombat"]) == None
assert majority(["dogs", "cats", "dogs", "snakes"]) == None

### Grouping

Create a function, `group(strings)`, that groups strings by their first character. The argument `strings` is a list of strings and the returned grouping should be a list of lists. The function should preserve ordering as much as possible-- i.e. the first strings in all the sublists should be in the order they appear in the original list, as should the strings inside each sublist. See the test cell below for some examples.

Use this cell to test if your function is correct

In [ ]:
assert group(["hello", "goodbye", "hi", "goodness"]) == [["hello", "hi"], ["goodbye", "goodness"]]
assert group(["python", "java", "prolog", "purescript", "javascript", "haskell"]) == [["python", "prolog", "purescript"], ["java", "javascript"], ["haskell"]]

## Web Server (1 mark)

In a separate file, `text_server.py`, write a Flask web server that analyses text. On the main page have a textbox and a submit button. If the submit button is pressed, on the next page show an analysis of whatever was in the text box. This analysis should include: the number of characters (including spaces and punctuation), the number of characters (excluding punctuation), and the number of words. 

**Note**:
* All responses the server gives should be in HTML. You may wish to use this as an opportunity to familiarise yourself with HTML and PyHTML.
* You can use the web servers implemented in lectures as a guide to structuring your code.

## Challenge

**NOTE:** This question is **NOT** worth any marks and is meant to present a significant challenge. It's here for those who wish to extend themselves. Even if you're not able to solve it, you may find giving it a try good practice and you can always come back to it in later weeks.

Write a function, `solve(sudoku)`, that, given a sudoku represented as a list of lists, returns that solved version of that sudoku.

Here is a sudoku you can use for testing. Note that empty cells are represented with `None`.

In [2]:
x = None
example_sudoku = [
    [ 2, x, 5, x, x, x, x, x, x],
    [ 3, x, 8, 6, x, x, 9, x, x],
    [ x, x, x, 1, x, x, 4, x, x],
    [ x, x, x, x, 5, x, x, 1, x],
    [ x, x, x, x, 9, x, x, 2, x],
    [ 8, 7, x, x, 2, x, x, x, x],
    [ x, x, x, x, 8, 9, x, x, 3],
    [ x, x, 6, x, x, 3, x, x, 5],
    [ 5, x, 4, x, x, x, x, x, 1],
]